{
    "service": {
        "name": "{{ item.name }}",
        "port": {{ item.port }},
        "tags": ["{% for tag in item.tags %}{{ tag }}"{% if not loop.last %}, "{% endif %}{% endfor %}],
        "check": {
            "script": "{{ item.check_script }}",
            "interval": "{{ item.check_interval }}"
        }
    }
}
