{
{% if consul_bind_interface is defined and consul_bind_interface == "eth1" %}
    "bind_addr": {{ ansible_eth1.ipv4.address }}
{% endif %}
    "bootstrap": true,
    "server": true,
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_data_dir }}",
    "encrypt": "{{ consul_encryption_key }}",
    "log_level": "INFO",
    "enable_syslog": true
}
