{% set consul_bootstrap_expect = groups[consul_servers_group]|count|round(0, 'ceil')|int %}
{% set _ = consul_configuration.update({'bootstrap_expect': consul_bootstrap_expect}) %}
{{ consul_configuration|to_nice_json }}
